@import "mygrid";

* {
  box-sizing: border-box;
  font-size: 30px;
}



//.col {
//  background-color: #eeeeee;
//  border: 1px solid #aaaaaa;
//}

.block {
  background-color: #dddddd;
  border: 1px solid #aaaaaa;
  padding: 20px;
  height: 100%;
  text-align: center;
}

section {
  margin-bottom: 50px;
}
