{
  "extends": "./stylelint.config.cjs",
  "ignoreFiles": [
    "./src/sitemap.html",
    "./src/sass/normalize.scss"
  ],
  "overrides": [
    {
      "files" : ["./src/sass/**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ]
}
